.statistics-view {
    padding: 10px 20px 10px 20px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 10px 10px 50px -21px rgba(0,0,0,0.75);
}

.sub-stat {
    display: inline-block;
    padding-left: 50px;
    width: 35%;
}

#statistics-box {
    padding: 0px 0px 10px 0px;
    width: 95%;
    padding-bottom: 30px;
}

#stats-graphs {
    display:inline-block;
    width: 100%;
}

.stats-legend {
    display: inline-block;
    width: 18%;
}